.log-data {
  margin-right: .5em;

  :last-child::before {
    content: '=';
  }
}

.log-entry td :not(.label) {
  font-family: monospace;
}

.navbar-fixed-top + * {
  margin-top: 141px;
}

@media (min-width: 768px) {
  .navbar-fixed-top + * {
    margin-top: 71px;
  }
}

.log-entry td:not(:last-child) {
  white-space: nowrap;
}
