.log-time,
.log-data,
.log-data-pair,
.log-data-key,
.log-data-value {
  display: inline-block;
}

.log-data-value::before {
  content: '=';
}

.log-entry .label,
.log-data-pair {
  margin-right: .5em;
}

.log-time,
.log-message,
.log-data-key,
.log-data-value {
  font-family: monospace;
}

.log-messages {
  margin-top: 71px;
}
